// COLOR WHITE
$color-white-000: #ffffff;
$color-white-100: #ececec;
$color-white-200: #f2f4f6;
$color-white-300: #d9d9d9;
$color-white-400: #a8a8a8;
$color-white-500: #9c9c9b;

// COLOR PINK
$color-pink-500: #e05185;

// COLOR GREEN
$color-green-500: #5db202;

// COLOR BLACK
$color-black-400: #353535;
$color-black-500: #1f1f23;
$color-black-900: #000000;
