@import "./color.scss";
@import "./font.scss";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    max-width: 480px;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
