.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    gap: 32px;

    border-bottom: 1px solid $color-white-300;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-decoration: none;
    color: $color-white-700;
    font-weight: 500;

    &.active {
        color: $color-black-900;
        border-bottom: 2px solid $color-black-900;
    }
    &.inactive {
        color: $color-white-700;
        border-bottom: none;
    }
    &:hover {
        color: $color-black-900;
        font-weight: 600;
    }
}
